.featured {
  padding: 2rem 0;
}

.featured__heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 4rem;
}

.featured__heading h2 {
  padding-bottom: .3rem;
  padding-left: .6rem;
  border-bottom: 3px solid var(--dark-slate);
  border-left: 3px solid var(--dark-slate);
  margin-bottom: 2rem;
}

.featured__heading p {
  max-width: 600px;
  text-align: justify;
}

@media (min-width: 992px) {
  .featured {
    padding: 3rem 0;
  }

  .featured__heading {
    flex-direction: row;
  }

  .featured__heading h2 {
    margin-bottom: 0; 
  }
}